@charset "utf-8";

/* reset */
* { margin: 0; padding: 0; }
a { text-decoration: none; color: inherit; }

/* wrap */
#wrap { width: 450px; height: 800px; margin: 0 auto; overflow: hidden; }

/* head_log */
#head_log { text-align: center; padding-top: 50px; position: relative; }
.log_close { font-size: 20px; position: absolute; top: 50px; right: 30px; background-color: #eaeaea; padding: 5px; border-radius: 5px; }
.log_close:hover { color: #000; background-color: #a1a1a1; }

/* login */
h2 { font-size: 18px; text-align: center; margin-top: 35px; }

.log_id { padding-left: 10px; margin-top: 30px; margin-left: 17px; 
  width: 400px; height: 45px; background-color: #eaeaea; 
  border: 2px solid #999; border-radius: 7px; }

.log_pwd { padding-left: 10px; margin-top: 3px; margin-left: 17px; 
  width: 400px; height: 45px; background-color: #eaeaea; 
  border: 2px solid #999; border-radius: 7px; }

.log_next { font-size: 50px; width: 50px; height: 50px; padding: 10px;  
  color: #666; background-color: #eaeaea; 
  border: 2px solid #999; border-radius: 15px; 
  margin-left: 188px; margin-top: 200px; }
.log_next:hover { color: #000; background-color: #a1a1a1; border: 2px solid #5c5c5c; }

/* nav */
#wrap_nav { margin-left: 40px; margin-top: 40px; text-align: center; }
.Google { margin-left: 50px; float: left; }
.XBox { margin-left: 20px; float: left; }
.Apple { margin-top: 8px; margin-left: 20px; float: left; }
.FB { margin-left: 20px; float: left; }
.PS { margin-left: 20px; float: left; }

/* footer */
#fnb { margin-top: 120px; text-align: center; font-weight: bold; color: #000; position: relative; }
.fnb2 { margin-top: 15px; }