@charset "utf-8";

/* reset */
* { margin: 0; padding: 0; }
a { text-decoration: none; color: inherit; }

/* wrap */
#wrap { background: url("../images/bg.jpg") no-repeat; width: 450px; height: 800px; margin: 0 auto; overflow: hidden; }

/* header */
.log_logo { text-align: center; padding-top: 45px; margin-bottom: 30px; }
.txt1 { font-size: 20px; text-align: center; color: #fff; }
.box { margin-left: 133.5px; margin-top: 25px; margin-bottom: 60px; }
.box1 { border-radius: 5px; background-color: #e4e4e4; width: 28px; height: 5px; float: left; margin-left: 3px; }
#box1 { background-color: #EB0029; }

/* agree */
.agree { background-color: #fff; color: #000; width: 403px; height: 444px; margin: 0 auto; border-radius: 10px; }
.ag_txt { text-align: center; padding-top: 40px; font-size: 18px; padding-bottom: 30px; }
.agrees { line-height: 40px; text-align: center; font-size: 14px; font-weight: bold; }
.agrees input { display: none; }
.agrees .boxes { display: inline-block; width: 25px; height: 25px; background-color: #E5E5E5; border-radius: 5px; 
vertical-align: middle; position: relative; cursor: pointer; margin-right: 10px; }
.tt { color: #EB0029; }
.img1 { margin-left: 20px; }
.img2 { margin-left: 50px; }
.img3 { margin-left: 69px; }
.txt { font-size: 10px; text-align: center; color: #777; line-height: 15px; margin-top: 40px; margin-bottom: 40px; }
.log_next { font-size: 50px; width: 50px; height: 50px; line-height: 50px; padding: 10px; text-align: center; 
color: #666; background-color: #eaeaea; border: 2px solid #999; border-radius: 15px; margin: 0 auto; }

.fnb { color: #fff; }
.fnb_1 { text-align: center; font-size: 11px; margin-top: 70px; }
.copy { text-align: center; color: #999; font-size: 10px; margin-top: 8px; }