@charset "utf-8";

/* reset */
* { margin: 0; padding: 0; }
a { text-decoration: none; color: inherit; }
body { background: url("../images/backimage2.jpg") no-repeat center; width: 100%; height: 800px; margin: 0 auto; }

/* wrap */
#wrap { text-align: center; }

/* header */
.log_logo { text-align: center; padding-top: 55px; }
.txt1 { font-size: 20px; text-align: center; color: #fff; padding-top: 40px; }
.box { display: flex; justify-content: center; list-style: none; padding: 0; padding-top: 40px; }
.box1 { border-radius: 5px; background-color: #e4e4e4; width: 28px; height: 5px; margin-right: 3px; }
#box1 { background-color: #EB0029; }

/* agree */
.agree { background-color: #fff; color: #000; width: 403px; height: 444px; margin: 0 auto; border-radius: 10px; margin-top: 40px; }
.ag_txt { text-align: center; padding-top: 40px; font-size: 18px; padding-bottom: 30px; }
#log_name { width: 300px; height: 40px; padding-left: 10px; border: 1px solid #888; border-radius: 5px; margin-bottom: 20px; }
#log_id { width: 300px; height: 40px; padding-left: 10px; border: 1px solid #888; border-radius: 5px; margin-bottom: 20px; }
#log_pwd { width: 300px; height: 40px; padding-left: 10px; border: 1px solid #888; border-radius: 5px; margin-bottom: 40px; }
.login_form label { text-align: left; margin-left: 48px; display: block; margin-bottom: 5px; }

#signButton { font-size: 16px; color: #fff; background-color: #EB0029; border: none; padding: 10px 125px; 
border-radius: 10px; cursor: pointer; }
#signButton:hover { background-color: #680011; }

.fnb { color: #fff; padding-top: 50px; }
.fnb_1 { text-align: center; font-size: 11px; }
.copy { text-align: center; color: #999; font-size: 10px; margin-top: 8px; }